.active {
  position: relative;
  z-index: 0;
  &::after {
    width: 100%;
    content: "";
    display: block;
    border-bottom: 0.5rem solid $color-secondary;
    position: absolute;
    bottom: 0.25rem;
    z-index: -1;
  }
}
