$color-primary: #fdff90;
$color-secondary: #ff498b;
$color-white: #fff;
$color-black: #000;

$font-size-exLarge: 24.4rem;
$font-size-large: 14.4rem;
$font-size-medium: 7.2rem;
$font-size-small: 1.8rem;
