$color-primary: #fdff90;
$color-secondary: #ff498b;
$color-white: #fff;
$color-black: #000;

$font-size-exLarge: 14rem;
$font-size-large: 5rem;
$font-size-medium: 2.4rem;
$font-size-small: 1.8rem;
$font-size-exSmall: 1rem;
