@import "./pages//HomePage/homePageStyles.scss";
@import "./pages//MenuPage/menuPageStyles.scss";
@import "./pages//ContactPage/contactPageStyles.scss";

@import "./components/Nav/navStyles.scss";
@import "./components/logo/logoStyles.scss";
@import "./components/Main/mainStyles.scss";
@import "./components/Heading/headingStyles.scss";
@import "./components/Footer/footerStyles.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Staatliches", cursive;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
