@import "./pages//HomePage/homePageStyles.scss";
@import "./pages//MenuPage/menuPageStyles.scss";
@import "./pages//ContactPage/contactPageStyles.scss";

@import "./components/Nav/navStyles.scss";
@import "./components/logo/logoStyles.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Staatliches", cursive;
}
